{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="{% static "css/staff.css" %}">

	<link rel="apple-touch-icon" sizes="180x180" href="{% static "img/icon/apple-touch-icon.png" %}">
	<link rel="icon" type="image/png" sizes="32x32" href="{% static "img/icon/favicon-32x32.png" %}">
	<link rel="icon" type="image/png" sizes="16x16" href="{% static "img/icon/favicon-16x16.png" %}">
	<!--<link rel="manifest" href="{% static "img/icon/site.webmanifest" %}">
	<link rel="mask-icon" href="{% static "img/icon/safari-pinned-tab.svg" %}" color="#ff8b3c">
	<meta name="msapplication-TileColor" content="#ffffff">-->
	<meta name="theme-color" content="#ff8b3c">
	{% block option_head %}{% endblock option_head %}

	<title>{% block title %}スタッフメニュー - INIAD Times{% endblock title %}</title>
</head>
<body>

<header>
	<h1><a href="{% url "staff" %}"><img src="{% static "img/logo_white.svg" %}" alt="INIAD Times"></a></h1>
	<div id="header-right-wrap">
		<nav>
			<ul>
				<li><a href="{% url "new_admin" %}">記事投稿</a></li>
				<li><a href="{% url "list_admin" %}">記事編集</a></li>
				<li><a href="{% url "profile" %}">プロフィール設定</a></li>
			</ul>
		</nav>
	</div>
</header>
<main>
	{% block main %}{% endblock main %}
</main>
</body>
</html>