{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	{% include "times/includes/head.html" %}
	<link rel="stylesheet" href="{% static "css/staff.css" %}">

	{% block option_head %}{% endblock option_head %}

	<title>{% block title %}スタッフメニュー - INIAD Times{% endblock title %}</title>
</head>
<body>

<header>
	<h1><a href="{% url "staff" %}"><img src="{% static "img/logo_white.svg" %}" alt="INIAD Times"></a></h1>
	<div id="header-right-wrap">
		<nav>
			<ul>
				<li><a href="{% url "new_admin" %}">記事投稿</a></li>
				<li><a href="{% url "list_admin" %}">記事編集</a></li>
				<li><a href="{% url "profile" %}">プロフィール設定</a></li>
			</ul>
		</nav>
	</div>
</header>
<main>
	{% block main %}{% endblock main %}
</main>
</body>
</html>