{% extends "times/staff/base.html" %}

{% load static %}

{% block main %}
	<section>
		<h2>スタッフメニュー</h2>
		<nav>
			<ul>
				<li><a href="{% url "new" %}">新規記事作成</a></li>
				<li><a href="{% url "edit-list" %}">下書き記事編集</a></li>
				<li><a href="{% url "revise-list" %}">推敲・校閲</a></li>
				<li><a href="{% url "check-revise-list" %}">推敲・校閲 確認</a></li>
				{% if user.is_superuser %}
				<li><a href="{% url "admin-final-check-list" %}">最終確認</a></li>
				{% endif %}
				<li><a href="{% url "reedit-list" %}">公開済み記事編集</a></li>
				<li><a href="{% url "profile" %}">プロフィール設定</a></li>
			</ul>
		</nav>
	</section>
{% endblock main %}