{% extends "times/staff/base.html" %}

{% load static %}

{% block title %}{% if edit_list %}下書き記事編集{% elif revise_list %}記事推敲・校閲{% elif check_revise_list %}推敲・校閲チェック{% elif final_check_list %}最終確認{% elif reedit_list %}公開済み記事編集{% else %}記事一覧{% endif %} - {{ block.super }}{% endblock title %}

{% block main %}
	<section id="article-list">
		<h2>{% if edit_list %}下書き記事編集{% elif revise_list %}記事推敲・校閲{% elif check_revise_list %}推敲・校閲チェック{% elif final_check_list %}最終確認{% elif reedit_list %}公開済み記事編集{% else %}記事一覧{% endif %}</h2>
		{% for article in articles %}
			{% include "times/includes/article-list.html" with article=article link_page=link_page %}
		{% empty %}
			{% if revise_list %}推敲・校閲待ちの{% elif check_revise_list %}推敲・校閲チェック待ちの{% endif %}記事はありません
		{% endfor %}
	</section>
{% endblock %}