.meta-wrap{
	h3{
		font-size: 1em;
		font-weight: normal;
		margin: 0.5em 0;
	}

	ul.meta{
		list-style: none;
		padding: 0;
		margin: 0;
		display: flex;
		align-items: center;

		> div{
			display: flex;
		}

		li{
			display: block;
			width: fit-content;
			font-size: 0.8em;

			&:not(:last-child){
				margin-right: 0.5em;
			}

			&.category{
				display: block;
				width: fit-content;
				padding: 0.3em;
				background-color: #868686;
				color: #fff;
				font-size: 0.7em;
				flex-shrink: 0;
			}

			&.only-member{
				display: block;
				width: fit-content;
				padding: 0.3em;
				background-color: #ff7563;
				color: #fff;
				font-size: 0.7em;
				flex-shrink: 0;
			}

			&.list-writer{
				&::before{
					content: "by ";
				}
				&:not(:last-child){
					&::after{
						content: ", ";
					}
				}
			}

			&.writer{
				&::before{
					content: "執筆者:";
					margin-right: 0.3em;
				}
				&:last-child{
					margin-right: 0.5em;
				}
				&:not(:last-child){
					&::after{
						content: ", ";
					}
				}
			}

			&.editor{
				&:first-child::before{
					content: "編集者:";
					margin-right: 0.3em;
				}
				&:last-child{
					margin-right: 0.5em;
				}
				&:not(:last-child){
					&::after{
						content: ", ";
					}
				}
			}

			&.new{
				background-color: #ff8b3c;
				color: white;
				font-size: 0.5em;
				padding: 0.3em 0.8em;
				flex-shrink: 0;
			}
		}
	}
}
