{% extends "times/base.html" %}

{% load static %}
{% load mytags %}

{% block title %}{{ article.title }} - {{ block.super }}{% endblock title %}
{% block og_title %}{{ article.title }} - {{ block.super }}{% endblock og_title %}

{% block description %}{{ article.text | slice:":50" }}{% if article.text|length > 50 %}…{% endif %}{% endblock %}
{% block og_description %}{{ article.text | slice:":50" }}{% if article.text|length > 50 %}…{% endif %}{% endblock %}
{% block eyecatch %}{{ article.eyecatch.url }}{% endblock %}

{% block option_head %}<meta name="robots" content="noarchive">{% endblock option_head %}

{% block main %}
	<article id="article-page">
		<div id="content-wrap">
			<div class="meta-wrap">
				<ul class="meta">
					<li class="category">{{ article.category }}</li>
					{% if not article.is_public %}<li class="only-member">学内限定</li>{% endif %}
				</ul>
				<h2>{{ article.title }}</h2>
				<ul class="meta">
					<li class="time">{{ article.time }}</li>
					{% if article.is_new %}<li class="new">New!</li>{% endif %}
					<div>
						{% for writer in article.article_writers.all %}
							<li class="writer">{{ writer.name }}</li>
						{% endfor %}
					</div>
					<div>
						{% for editor in article.article_editors.all %}
							<li class="editor">{{ editor.name }}</li>
						{% endfor %}
					</div>
				</ul>
			</div>
			{% if preview_message %}
				<aside id="preview">
					{{ preview_message | safe }}
				</aside>
			{% endif %}
			{{ article.text | markdown2html }}
		</div>
	</article>
{% endblock main %}