@import "import/media";
@import "import/article-list";
@import "import/meta-wrap";
@import "import/search-wrap";

html, body{
	margin: 0;
	padding: 0;
	height: 100%;
}

body{
	font-family: "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro W3", "メイリオ", sans-serif;
	color: #333333;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

a{
	text-decoration: none;
	color: #333333;
	&:hover{
		opacity: 0.8;
	}
}

ul.image_choice{
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
	padding-bottom: 0.2em;
	li{
		&:not(:last-child){
			margin-right: 0.2em;
		}
		label{
			display: block;
			padding: 5px;
			width: 180px;
			height: 120px;
			.eyecatch-image{
				width: 100%;
				height: 100%;
				border-radius: 5px;
				background-size: contain;
				background-position: center;
				background-repeat: no-repeat;
			}
		}
		input[type=radio]{
			display: none;
			&:checked + label{
				border: 2px solid #ff8b3c;
				border-radius: 10px;
			}
			&:not(:checked) + label{
				margin: 2px;
			}
		}
	}
}


pre.diff-line{
	font-family: monospace;
	padding-left: 0.1em;
	margin: 0 !important;
	&.added-line{
		background-color: #bbbbff;
	}
	&.deleted-line{
		background-color: #ffbbbb;
	}
}

form{
	p, > ul li{
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		margin: 0.5em 0;
	}
	.helptext{
		width: calc(100% - 80px);
		margin-left: 50px;
		margin-right: 30px;
		@include media(small){
			width: calc(100% - 30px);
			margin-left: 10px;
			margin-right: 20px;
		}
	}
	ul.image_choice{
		width: calc(100% - 80px);
		margin-left: 50px;
		@include media(small){
			width: calc(100% - 30px);
			margin-left: 10px;
			margin-right: 20px;
		}
	}
	> label{
		max-width: calc(100% - 54px);
	}
	ul.errorlist{
		display: block;
		width: 100%;
		order: 99;
	}
	.text-input-wrap{
		width: 100%;
		div{
			margin-right: 0;
		}
		// EasyMDE Edit
		.editor-toolbar{
			border-radius: 0;
			border-left: none;
			border-right: none;
			opacity: 1;
		}
		.CodeMirror{
			border-radius: 0;
			border-left: none;
			border-right: none;
		}
		.editor-preview-side{
			border-radius: 0;
			border-right: none;
		}
		.cm-s-easymde{
			.cm-header-1, .cm-header-2, .cm-header-3, .cm-header-4{
				font-size: 100%;
				line-height: 100%;
			}
			.cm-header, .cm-strong{
				font-weight: normal;
			}
			.cm-strong{
				background-color: yellow;
			}
			.cm-strikethrough{
				text-decoration: none;
			}
			.cm-em{
				font-style: normal;
			}
		}
		// End EasyMDE Edit
	}
}

input[type=submit], input[type=button]{
	display: block;
	font-family: inherit;
	margin-top: 5px;
	font-size: 1.05em;
	padding: 6px 12px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-appearance: none;
	border: 2px solid #ff8b3c;
	background-color: white;
	border-radius: 5px;
}
input, select, textarea{
	font-family: inherit;
	margin-top: 5px;
	font-size: 1.1em;
	padding: 0.2em 0.5em;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-appearance: none;
	background-color: white;
	&[type=checkbox]{
		order: -1;
		width: 2em;//50px;
		height: 2em;//50px;
		padding: 0.16em;//4px;
		margin: 0;
		margin-right: 0.1em;
		&::before{
			content: "";
			display: block;
			margin-top: 0;
			margin-bottom: 0.2em;//5px;
			margin-right: 0.28em;//7px;
			padding: 0;
			width: 1.44em;//36px;
			height: 1.44em;//36px;
			border: 1px solid #bbb;
			transition: all .12s, border-color .08s, border-width .08s;
		}
		&:checked::before{
			width: 0.6em;//15px;
			margin: 0.4em;//10px;
			margin-top: -0.2em;//-5px;
			margin-right: 0.6em;//15px;
			padding-left: 0.04em;//1px;
			border-radius: 0;
			opacity: 1;
			border-top-color: transparent;
			border-left-color: transparent;
			border-bottom: 1.8px solid #333333;
			border-right: 1.8px solid #333333;
			-webkit-transform: rotate(45deg);
			transform: rotate(45deg);
		}
	}
	&:not([type=checkbox]){
		border: 1px solid #bbb;
		border-radius: 5px;
		width: calc(100% - 80px);
		margin-left: 50px;
		margin-right: 30px;
		@include media(small){
			width: calc(100% - 30px);
			margin-left: 10px;
			margin-right: 20px;
		}
	}
	&[type=submit]{
		border: 2px solid #ff8b3c;
		cursor: pointer;
	}
	&[type=button]{
		cursor: pointer;
	}
}
button{
	background-color: white;
	border: solid 1px #bbbbbb;
	border-radius: 5px;
	padding: 0.25em 0.5em;
	font-size: 0.9em;
	box-sizing: border-box;
	-webkit-appearance: none;
	cursor: pointer;
}
select{
	padding-right: 38px;
	background: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 30"><defs><style>.cls-1{fill:none;stroke:#ff8b3c;stroke-miterlimit:10;}</style></defs><polygon class="cls-1" points="8 8 24 8 16 22 8 8"/></svg>') no-repeat right;
	cursor: pointer;
}

$main-width: 1200px;


header{
	text-align: center;
	background-color: #ff8b3c;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100vw;
	h1{
		margin: 0;
		margin-left: 10px;
		flex-basis: 350px;
		flex-shrink: 0;
		flex-grow: 0;
		display: flex;
		color: white;
		align-items: center;
		a{
			display: block;
			font-size: 0.8em;
			max-width: 100%;
			&.title-icon{
				padding-right: 0.2em;
			}
			img{
				display: block;
				height: 30px;
				max-width: 100%;
				margin: 10px 0;
			}
		}
	}

	nav{
		ul{
			display: flex;
			list-style: none;
			justify-content: stretch;
			box-sizing: border-box;
			li{
				width: 100%;
			}
		}
	}

	#header-right-wrap{
		display: flex;
		justify-content: flex-end;
		align-items: center;
		margin-right: 0;
		flex-basis: 600px;
		flex-shrink: 1;
		flex-grow: 1;
		white-space: nowrap;
		nav{
			width: 100%;
			ul{
				margin-left: auto;
				margin-right: 0;
				width: 100%;
				max-width: 1200px;
			}
		}
	}
	a{
		color: #ffffff;
	}


}


main{
	width: 100%;
	height: 100%;
	flex-basis: 100%;
	flex-shrink: 1;
	flex-grow: 0;

	> section, article{
		width: $main-width;
		max-width: 100%;
		box-sizing: border-box;
		margin: auto;
		padding: 0 20px;
	}

	section#staff-index{
		ul{
			list-style: none;
			li{
				margin: 2em 0;
			}
		}
	}

	section#article-list{
		nav#scope{
			display: flex;
			justify-content: flex-end;
			align-items: center;
			h3{
				font-size: 16px;
				&::after{
					content: ":";
					margin-right: 1em;
				}
			}
			ul{
				display: flex;
				align-items: center;
				list-style: none;
				padding: 0;
				li{
					&:not(:last-child){
						margin-right: 1em;
					}
					a{
						text-decoration: underline;
						&.active{
							text-decoration: none;
							pointer-events: none;
							cursor: default;
						}
					}
				}
			}
		}
		.meta-box{
			display: block;
			width: fit-content;
			padding: 0.3em;
			background-color: #868686;
			color: #fff;
			font-size: 0.7em;
			flex-shrink: 0;
			&.rejected{
				background-color: #f93e3e;
			}
			&.first-revise{
				background-color: #4cae4c;
			}
			&.second-revise{
				background-color: #1e347b;
			}
		}
	}

	section#article-post{
		width: 100%;
		height: 100%;
		margin: 0;
		padding: 0;
		form{
			display: flex;
			flex-direction: column;
			height: 100%;
			justify-content: space-between;
			max-height: 100%;
			input:not([type=checkbox]), textarea, select{
				width: 100%;
				margin: 0;
			}
			#input-sns_publish_text{
				textarea{
					height: 5em;
				}
			}
			#form-main-wrap{
				display: flex;
				flex-direction: column;
				height: 100%;
				p{
					margin: 0;
					&#input-title, &#input-slug{
						height: fit-content;
						flex-grow: 0;
						padding-left: 5px;
						box-sizing: border-box;
						input{
							border-radius: 0;
							border: none;
							padding-top: 0.5em;
						}
					}
					&#input-slug{
						font-size: 0.8em;
						display: flex;
						position: relative;
						flex-wrap: nowrap;
						justify-content: space-between;
						align-items: baseline;
						width: 100%;
						label{
							margin-left: 0.8em;
							width: fit-content;
							flex-shrink: 0;
						}
						input{
							font-size: 1em;
						}
						.valid-error{
							display: none;
						}
						&.not-valid{
							input{
								color: red;
							}
							.valid-error{
								display: block;
								position: absolute;
								right: 5px;
								bottom: 0;
								color: red;
							}
						}
					}
					&#input-text{
						height: 100%;
						.text-input-wrap{
							height: 100%;
							.EasyMDEContainer{
								height: 100%;
								max-height: calc(100vh - 300px);
								display: grid;
								grid-template-rows: 50px 1fr 37px;
								grid-template-columns: 1fr 1fr;
								grid-template-areas:
									"header header"
									"code preview"
									"footer footer";
							}
							.editor-toolbar{
								grid-area: header;
								width: 100%;
								box-sizing: border-box;
							}
							.CodeMirror.sided--no-fullscreen{
								grid-area: code;
								width: 100% !important;
								max-height: none;
							}
							.editor-preview-side.sided--no-fullscreen{
								grid-area: preview;
								width: 100% !important;
							}
							.editor-statusbar{
								grid-area: footer;
								width: 100%;
								box-sizing: border-box;
							}
						}
					}
				}
			}
			#form-meta-wrap{
				display: grid;
				grid-template-rows: 1fr auto;
				grid-template-columns: 6fr 4fr 13em;
				&.meta{
					grid-template-areas:
					"eyecatch sns_publish other_meta"
					"eyecatch submit submit";
					#form-message-log-wrap, #form-message-new-wrap{
						display: none;
					}
				}
				&.message{
					grid-template-areas:
					"log new new"
					"log submit submit";
					#form-eyecatch-wrap, #form-sns_publish-wrap, #form-other_meta-wrap{
						display: none;
					}
				}
				font-size: 0.8em;
				justify-content: space-between;
				border-top: 2px solid #ff8b3c;
				padding: 0.5em;
				position: relative;
				#form-tabs{
					position: absolute;
					width: 30vw;
					bottom: 100%;
					left: 0;
					ul{
						list-style: none;
						margin: 0;
						padding: 0;
						display: flex;
						li{
							display: block;
							box-sizing: border-box;
							width: 50%;
							text-align: center;
							border: solid 2px #ff8b3c;
							background-color: white;
							padding: 0.5em;
							cursor: pointer;
							min-width: 8em;
							max-width: 10em;
							&:not(:last-child){
								border-right: none;
							}
							&.active{
								background-color: #ff8b3c;
								color: white;
								cursor: default;
							}
						}
					}
				}
				#form-eyecatch-wrap{
					grid-area: eyecatch;
					flex-basis: 60%;
					margin-right: 5px;
					height: 200px;
					#id_eyecatch{
						height: 170px;
						overflow: scroll;
					}
					button{
						margin-left: 0.5em;
					}
				}
				#form-sns_publish-wrap{
					grid-area: sns_publish;
					flex-basis: 40%;
					margin-right: 5px;
				}
				#form-other_meta-wrap{
					grid-area: other_meta;
					width: 13em;
					flex-shrink: 0;
				}
				#form-message-log-wrap{
					grid-area: log;
					height: 200px;
					margin-right: 5px;
					#message-logs{
						height: 170px;
						overflow: scroll;
						.message{
							width: 100%;
							box-sizing: border-box;
							border: solid 1px #dddddd;
							border-radius: 5px;
							padding: 0 10px;
							margin: 5px 0;
							.message-name{
								font-weight: bold;
							}
							.message-time{
								font-size: 0.9em;
								color: #bbbbbb;
							}
						}
					}
				}
				#form-message-new-wrap{
					grid-area: new;
					textarea{
						height: 6em;
					}
					button{
						display: block;
						margin-left: auto;
						margin-right: 0;
					}
				}
				#form-submit-wrap{
					grid-area: submit;
					display: flex;
					justify-content: flex-end;
					p:not(:last-child){
						margin-right: 0.5em;
					}
					.draft{
						flex-basis: 20%;
					}
					.submit{
						flex-basis: 80%;
					}
				}
			}
		}

		#modal{
			display: none;
			position: fixed;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			#overlay{
				display: none;
				position: fixed;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				&.show{
					display: block;
					z-index: 998;
					background-color: rgba(#000, 0.6);
				}
			}

			&.show{
				display: flex;
				justify-content: center;
				align-items: center;
				z-index: 997;
			}
			#image-upload-wrap{
				display: none;
				background-color: white;
				border-radius: 10px;
				border: solid 2px #ff8b3c;
				padding: 20px;
				&.show{
					display: block;
					z-index: 999;
				}
			}
		}
		.editor-preview{
			.toc{
				border: solid 0.5px #bbbbbb;
				padding: 5px;
				color: #bbbbbb;
				background-color: white;
				border-radius: 5px;
				font-size: 0.8em;
				&::before{
					content: "目次";
					display: block;
				}
				ul{
					padding-left: 1.5em;
				}
			}
		}
	}
	section#article-check{
		width: 100%;
		height: 100%;
		margin: 0;
		padding: 0;
		display: grid;
		grid-template-rows: auto 1fr auto;
		grid-template-columns: 1fr 1fr;
		grid-template-areas:
			"title title"
			"markdown diff"
			"meta meta";
		#title-wrap{
			grid-area: title;
			border-bottom: solid 1px #dddddd;
			#title, #slug{
				padding: 6px 10px;
				margin: 0;
			}
			#title{
				font-size: 1.2em;
			}
			#slug{
				font-size: 0.8em;
			}
		}
		#markdown-wrap{
			grid-area: markdown;
			height: 100%;
			padding-left: 10px;
			padding-right: 10px;
			box-sizing: border-box;
			overflow: scroll;
		}
		#diff-wrap{
			grid-area: diff;
			height: 100%;
			padding-left: 10px;
			padding-right: 20px;
			border-left: solid 1px #dddddd;
			box-sizing: border-box;
			overflow: scroll;
		}
		#meta-wrap{
			grid-area: meta;
			display: grid;
			grid-template-rows: 1fr auto;
			grid-template-columns: 6fr 4fr 13em;
			label{
				font-size: 1.2em;
				font-weight: bold;
			}
			p{
				margin: 0;
				padding-left: 1.5em;
			}
			input, textarea{
				width: 100%;
				margin: 0;
			}
			&.meta{
				grid-template-areas:
					"eyecatch sns_publish other_meta"
					"eyecatch submit submit";
				#message-log-wrap, #message-new-wrap{
					display: none;
				}
			}
			&.message{
				grid-template-areas:
					"log new new"
					"log submit submit";
				#eyecatch-wrap, #sns_publish-wrap, #other_meta-wrap{
					display: none;
				}
			}
			font-size: 0.8em;
			justify-content: space-between;
			border-top: 2px solid #ff8b3c;
			padding: 0.5em;
			position: relative;
			#tabs{
				position: absolute;
				width: 30vw;
				bottom: 100%;
				left: 0;
				ul{
					list-style: none;
					margin: 0;
					padding: 0;
					display: flex;
					li{
						display: block;
						box-sizing: border-box;
						width: 50%;
						text-align: center;
						border: solid 2px #ff8b3c;
						background-color: white;
						padding: 0.5em;
						cursor: pointer;
						min-width: 8em;
						max-width: 10em;
						&:not(:last-child){
							border-right: none;
						}
						&.active{
							background-color: #ff8b3c;
							color: white;
							cursor: default;
						}
					}
				}
			}
			#eyecatch-wrap{
				grid-area: eyecatch;
				margin-right: 5px;
				height: 200px;
				.eyecatch-image{
					margin-left: 1.5em;
					width: 100%;
					height: 170px;
					border-radius: 5px;
					background-size: contain;
					background-position: left center;
					background-repeat: no-repeat;
				}
			}
			#sns_publish-wrap{
				grid-area: sns_publish;
				flex-basis: 40%;
				margin-right: 5px;
			}
			#other_meta-wrap{
				grid-area: other_meta;
				width: 13em;
				flex-shrink: 0;
			}
			#message-log-wrap{
				grid-area: log;
				height: 200px;
				margin-right: 5px;
				#message-logs{
					height: 170px;
					overflow: scroll;
					p{
						padding: 0;
					}
					.message{
						width: 100%;
						box-sizing: border-box;
						border: solid 1px #dddddd;
						border-radius: 5px;
						padding: 0 10px;
						margin: 5px 0;
						.message-name{
							font-weight: bold;
						}
						.message-time{
							font-size: 0.9em;
							color: #bbbbbb;
						}
					}
				}
			}
			#message-new-wrap{
				grid-area: new;
				textarea{
					height: 6em;
				}
				button{
					display: block;
					margin-left: auto;
					margin-right: 0;
				}
			}
			#submit-wrap{
				grid-area: submit;
				display: flex;
				justify-content: flex-end;
				align-items: center;
				p{
					padding: 0;
				}
				p:not(:last-child){
					margin-right: 0.5em;
				}
				.reject{
					flex-basis: 20%;
					input[type=button]{
						border: solid 2px #f93e3e;
					}
				}
				.accept{
					flex-basis: 80%;
					input[type=button]{
						border: solid 2px #ff8b3c;
					}
				}
			}
		}
	}
}
