@charset "UTF-8";
article.article-list {
  margin: 0 10px;
  padding: 10px 0;
  font-size: 16px;
}
article.article-list a {
  color: #333333;
  display: flex;
  align-items: center;
}
article.article-list a div.eyecatch-wrap {
  padding: 5px 0;
}
article.article-list a .meta-wrap {
  flex-shrink: 1;
  flex-basis: 300px;
}
article.article-list a p.eyecatch {
  width: 200px;
  box-sizing: border-box;
  margin: 10px 0;
  margin-right: 15px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  flex-shrink: 1;
  flex-basis: 200px;
}
article.article-list a p.eyecatch::before {
  content: "";
  display: block;
  padding-top: 67%;
}
article.article-list a p.eyecatch img {
  max-width: 100%;
  width: 200px;
  max-height: 100%;
}
@media (max-width: 480px) {
  article.article-list:not(:last-child) {
    border-bottom: solid 1px #dddddd;
  }
}

nav.pagination {
  margin-left: -18px;
}
nav.pagination ul {
  padding: 0;
  display: flex;
  justify-content: center;
  list-style: none;
}
nav.pagination ul li {
  display: none;
}
@media (min-width: 851px) {
  nav.pagination ul li:nth-child(-n+2) {
    display: block;
  }
  nav.pagination ul li:nth-last-child(-n+2) {
    display: block;
  }
  nav.pagination ul li.active, nav.pagination ul li.before-active {
    display: block;
  }
  nav.pagination ul li.active + li {
    display: block;
  }
  nav.pagination ul li.active + li + li {
    display: block;
  }
  nav.pagination ul li.active + li + li + li {
    display: block;
  }
  nav.pagination ul li.active + li + li + li + li {
    display: block;
  }
}
@media (min-width: 481px) and (max-width: 850px) {
  nav.pagination ul li:nth-child(-n+2) {
    display: block;
  }
  nav.pagination ul li:nth-last-child(-n+2) {
    display: block;
  }
  nav.pagination ul li.active, nav.pagination ul li.before-active {
    display: block;
  }
  nav.pagination ul li.active + li {
    display: block;
  }
  nav.pagination ul li.active + li + li {
    display: block;
  }
  nav.pagination ul li.active + li + li + li {
    display: block;
  }
  nav.pagination ul li.active + li + li + li + li {
    display: block;
  }
}
@media (max-width: 480px) {
  nav.pagination ul li:nth-child(-n+2) {
    display: block;
  }
  nav.pagination ul li:nth-last-child(-n+2) {
    display: block;
  }
  nav.pagination ul li.active, nav.pagination ul li.before-active {
    display: block;
  }
  nav.pagination ul li.active + li {
    display: block;
  }
}
nav.pagination ul li:last-child {
  display: block;
}
nav.pagination ul li:not(:last-child) {
  margin-right: 5px;
}
nav.pagination ul li a, nav.pagination ul li span {
  display: block;
  padding: 10px;
  border: solid 0.5px #ff8b3c;
  border-radius: 5px;
  color: #ff8b3c;
}
nav.pagination ul li.active span {
  color: white;
  background-color: #ff8b3c;
}
nav.pagination ul li span.disable {
  color: #bbbbbb;
  border-color: #bbbbbb;
}

.meta-wrap h3 {
  font-size: 1em;
  font-weight: normal;
  margin: 0.5em 0;
}
.meta-wrap ul.meta {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}
.meta-wrap ul.meta > div {
  display: flex;
}
.meta-wrap ul.meta li {
  display: block;
  width: fit-content;
  font-size: 0.8em;
}
.meta-wrap ul.meta li:not(:last-child) {
  margin-right: 0.5em;
}
.meta-wrap ul.meta li.category {
  display: block;
  width: fit-content;
  padding: 0.3em;
  background-color: #868686;
  color: #fff;
  font-size: 0.7em;
  flex-shrink: 0;
}
.meta-wrap ul.meta li.only-member {
  display: block;
  width: fit-content;
  padding: 0.3em;
  background-color: #ff7563;
  color: #fff;
  font-size: 0.7em;
  flex-shrink: 0;
}
.meta-wrap ul.meta li.list-writer::before {
  content: "by ";
}
.meta-wrap ul.meta li.list-writer:not(:last-child)::after {
  content: ", ";
}
.meta-wrap ul.meta li.writer::before {
  content: "執筆者:";
  margin-right: 0.3em;
}
.meta-wrap ul.meta li.writer:last-child {
  margin-right: 0.5em;
}
.meta-wrap ul.meta li.writer:not(:last-child)::after {
  content: ", ";
}
.meta-wrap ul.meta li.editor:first-child::before {
  content: "編集者:";
  margin-right: 0.3em;
}
.meta-wrap ul.meta li.editor:last-child {
  margin-right: 0.5em;
}
.meta-wrap ul.meta li.editor:not(:last-child)::after {
  content: ", ";
}
.meta-wrap ul.meta li.new {
  background-color: #ff8b3c;
  color: white;
  font-size: 0.5em;
  padding: 0.3em 0.8em;
  flex-shrink: 0;
}

.search-wrap {
  display: flex;
  align-items: center;
  position: relative;
}
.search-wrap .search-button {
  padding: 0 10px;
  margin: 0;
  height: 100%;
  display: flex;
  align-items: center;
}
.search-wrap .search-button img {
  display: block;
}
.search-wrap.searchbox-open .search-box {
  visibility: visible;
}
.search-wrap .search-box {
  visibility: hidden;
  display: flex;
  position: absolute;
  top: 0;
  left: 60px;
  height: 100%;
  width: 280px;
  z-index: 2;
  padding-right: 10px;
  align-items: center;
  background-color: #fff;
}
.search-wrap .search-box p {
  margin: 0;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font-family: "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro W3", "メイリオ", sans-serif;
  color: #333333;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

a {
  text-decoration: none;
  color: #333333;
}
a:hover {
  opacity: 0.8;
}

ul.image_choice {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  padding-bottom: 0.2em;
}
ul.image_choice li:not(:last-child) {
  margin-right: 0.2em;
}
ul.image_choice li label {
  display: block;
  padding: 5px;
  width: 180px;
  height: 120px;
}
ul.image_choice li label .eyecatch-image {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
ul.image_choice li input[type=radio] {
  display: none;
}
ul.image_choice li input[type=radio]:checked + label {
  border: 2px solid #ff8b3c;
  border-radius: 10px;
}
ul.image_choice li input[type=radio]:not(:checked) + label {
  margin: 2px;
}

form input[type=submit], form input[type=button] {
  display: block;
  font-family: inherit;
  margin-top: 5px;
  font-size: 1.05em;
  padding: 6px 12px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  border: 2px solid #ff8b3c;
  background-color: white;
  border-radius: 5px;
}
form p, form > ul li {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0.5em 0;
}
form .helptext {
  width: calc(100% - 80px);
  margin-left: 50px;
  margin-right: 30px;
}
@media (max-width: 480px) {
  form .helptext {
    width: calc(100% - 30px);
    margin-left: 10px;
    margin-right: 20px;
  }
}
form ul.image_choice {
  width: calc(100% - 80px);
  margin-left: 50px;
}
@media (max-width: 480px) {
  form ul.image_choice {
    width: calc(100% - 30px);
    margin-left: 10px;
    margin-right: 20px;
  }
}
form > label {
  max-width: calc(100% - 54px);
}
form ul.errorlist {
  display: block;
  width: 100%;
  order: 99;
}
form .text-input-wrap {
  width: 100%;
}
form .text-input-wrap div {
  margin-right: 0;
}
form .text-input-wrap .editor-toolbar {
  border-radius: 0;
  border-left: none;
  border-right: none;
  opacity: 1;
}
form .text-input-wrap .CodeMirror {
  border-radius: 0;
  border-left: none;
  border-right: none;
}
form .text-input-wrap .editor-preview-side {
  border-radius: 0;
  border-right: none;
}
form .text-input-wrap .cm-s-easymde .cm-header-1, form .text-input-wrap .cm-s-easymde .cm-header-2, form .text-input-wrap .cm-s-easymde .cm-header-3, form .text-input-wrap .cm-s-easymde .cm-header-4 {
  font-size: 100%;
  line-height: 100%;
}
form .text-input-wrap .cm-s-easymde .cm-header, form .text-input-wrap .cm-s-easymde .cm-strong {
  font-weight: normal;
}
form .text-input-wrap .cm-s-easymde .cm-strong {
  background-color: yellow;
}
form .text-input-wrap .cm-s-easymde .cm-strikethrough {
  text-decoration: none;
}
form .text-input-wrap .cm-s-easymde .cm-em {
  font-style: normal;
}
form input, form select, form textarea {
  font-family: inherit;
  margin-top: 5px;
  font-size: 1.1em;
  padding: 0.2em 0.5em;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  background-color: white;
}
form input[type=checkbox], form select[type=checkbox], form textarea[type=checkbox] {
  order: -1;
  width: 2em;
  height: 2em;
  padding: 0.16em;
  margin: 0;
  margin-right: 0.1em;
}
form input[type=checkbox]::before, form select[type=checkbox]::before, form textarea[type=checkbox]::before {
  content: "";
  display: block;
  margin-top: 0;
  margin-bottom: 0.2em;
  margin-right: 0.28em;
  padding: 0;
  width: 1.44em;
  height: 1.44em;
  border: 1px solid #bbb;
  transition: all 0.12s, border-color 0.08s, border-width 0.08s;
}
form input[type=checkbox]:checked::before, form select[type=checkbox]:checked::before, form textarea[type=checkbox]:checked::before {
  width: 0.6em;
  margin: 0.4em;
  margin-top: -0.2em;
  margin-right: 0.6em;
  padding-left: 0.04em;
  border-radius: 0;
  opacity: 1;
  border-top-color: transparent;
  border-left-color: transparent;
  border-bottom: 1.8px solid #333333;
  border-right: 1.8px solid #333333;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
form input:not([type=checkbox]), form select:not([type=checkbox]), form textarea:not([type=checkbox]) {
  border: 1px solid #bbb;
  border-radius: 5px;
  width: calc(100% - 80px);
  margin-left: 50px;
  margin-right: 30px;
}
@media (max-width: 480px) {
  form input:not([type=checkbox]), form select:not([type=checkbox]), form textarea:not([type=checkbox]) {
    width: calc(100% - 30px);
    margin-left: 10px;
    margin-right: 20px;
  }
}
form input[type=submit], form select[type=submit], form textarea[type=submit] {
  border: 2px solid #ff8b3c;
}
form select {
  padding-right: 38px;
  background: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 30"><defs><style>.cls-1{fill:none;stroke:#ff8b3c;stroke-miterlimit:10;}</style></defs><polygon class="cls-1" points="8 8 24 8 16 22 8 8"/></svg>') no-repeat right;
}

header {
  text-align: center;
  background-color: #ff8b3c;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
}
header h1 {
  margin: 0;
  margin-left: 20px;
  flex-basis: 250px;
  flex-shrink: 0;
  flex-grow: 0;
}
header h1 a {
  display: block;
}
header h1 a img {
  display: block;
  height: 30px;
  max-width: 90vw;
  margin: 10px 0;
}
header nav ul {
  display: flex;
  list-style: none;
  justify-content: stretch;
  box-sizing: border-box;
}
header nav ul li {
  width: 100%;
}
header #header-right-wrap {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 0;
  flex-basis: 600px;
  flex-shrink: 1;
  flex-grow: 1;
  white-space: nowrap;
}
header #header-right-wrap nav {
  width: 100%;
}
header #header-right-wrap nav ul {
  margin-left: auto;
  margin-right: 0;
  width: 100%;
  max-width: 1200px;
}
header a {
  color: #ffffff;
}

main {
  width: 100%;
  height: 100%;
  flex-basis: 100%;
  flex-shrink: 1;
  flex-grow: 0;
}
main > section, main article {
  width: 1200px;
  margin: auto;
  padding: 0 20px;
}
main section#article-post {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
main section#article-post form {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  max-height: 100%;
}
main section#article-post form input:not([type=checkbox]), main section#article-post form textarea, main section#article-post form select {
  width: 100%;
  margin: 0;
}
main section#article-post form #input-sns_publish_text textarea {
  height: 5em;
}
main section#article-post form #form-main-wrap {
  display: flex;
  flex-direction: column;
  height: 100%;
}
main section#article-post form #form-main-wrap p {
  margin: 0;
}
main section#article-post form #form-main-wrap p#input-title {
  height: fit-content;
  flex-grow: 0;
}
main section#article-post form #form-main-wrap p#input-title input {
  border-radius: 0;
  border: none;
  padding-top: 0.5em;
}
main section#article-post form #form-main-wrap p#input-text {
  height: 100%;
}
main section#article-post form #form-main-wrap p#input-text .text-input-wrap {
  height: 100%;
}
main section#article-post form #form-main-wrap p#input-text .text-input-wrap .EasyMDEContainer {
  height: 100%;
  max-height: calc(100vh - 300px);
  display: grid;
  grid-template-rows: 50px 1fr 37px;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "header header" "code preview" "footer footer";
}
main section#article-post form #form-main-wrap p#input-text .text-input-wrap .editor-toolbar {
  grid-area: header;
  width: 100%;
  box-sizing: border-box;
}
main section#article-post form #form-main-wrap p#input-text .text-input-wrap .CodeMirror.sided--no-fullscreen {
  grid-area: code;
  width: 100% !important;
  max-height: none;
}
main section#article-post form #form-main-wrap p#input-text .text-input-wrap .editor-preview-side.sided--no-fullscreen {
  grid-area: preview;
  width: 100% !important;
}
main section#article-post form #form-main-wrap p#input-text .text-input-wrap .editor-statusbar {
  grid-area: footer;
  width: 100%;
  box-sizing: border-box;
}
main section#article-post form #form-meta-wrap {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 6fr 4fr 13em;
  grid-template-areas: "eyecatch sns_publish other_meta" "eyecatch submit submit";
  font-size: 0.8em;
  justify-content: space-between;
  border-top: 2px solid #ff8b3c;
  padding: 0.5em;
}
main section#article-post form #form-meta-wrap #form-eyecatch-wrap {
  grid-area: eyecatch;
  flex-basis: 60%;
  margin-right: 5px;
}
main section#article-post form #form-meta-wrap #form-eyecatch-wrap #id_eyecatch {
  height: 170px;
  overflow: scroll;
}
main section#article-post form #form-meta-wrap #form-sns_publish-wrap {
  grid-area: sns_publish;
  flex-basis: 40%;
  margin-right: 5px;
}
main section#article-post form #form-meta-wrap #form-other_meta-wrap {
  grid-area: other_meta;
  width: 13em;
  flex-shrink: 0;
}
main section#article-post form #form-meta-wrap #form-submit-wrap {
  grid-area: submit;
  display: flex;
  justify-content: flex-end;
}
main section#article-post form #form-meta-wrap #form-submit-wrap p:not(:last-child) {
  margin-right: 0.5em;
}
main section#article-post form #form-meta-wrap #form-submit-wrap .draft {
  flex-basis: 20%;
}
main section#article-post form #form-meta-wrap #form-submit-wrap .submit {
  flex-basis: 80%;
}
main section#article-post #modal {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
main section#article-post #modal #overlay {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
main section#article-post #modal #overlay.show {
  display: block;
  z-index: 998;
  background-color: rgba(0, 0, 0, 0.6);
}
main section#article-post #modal.show {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 997;
}
main section#article-post #modal #image-upload-wrap {
  display: none;
  background-color: white;
  border-radius: 10px;
  border: solid 2px #ff8b3c;
  padding: 20px;
}
main section#article-post #modal #image-upload-wrap.show {
  display: block;
  z-index: 999;
}
main section#article-post .editor-preview .toc {
  border: solid 0.5px #bbbbbb;
  padding: 5px;
  color: #bbbbbb;
  background-color: white;
  border-radius: 5px;
  font-size: 0.8em;
}
main section#article-post .editor-preview .toc::before {
  content: "目次";
  display: block;
}
main section#article-post .editor-preview .toc ul {
  padding-left: 1.5em;
}
main section#article-post .editor-preview pre.diff-line {
  font-family: monospace;
  padding-left: 0.1em;
  margin: 0;
}
main section#article-post .editor-preview pre.diff-line.added-line {
  background-color: #bbbbff;
}
main section#article-post .editor-preview pre.diff-line.deleted-line {
  background-color: #ffbbbb;
}

/*# sourceMappingURL=staff.css.map */
