@import "import/media";
@import "import/article-list";
@import "import/meta-wrap";
@import "import/search-wrap";

html, body{
	margin: 0;
	padding: 0;
	height: 100%;
}

body{
	font-family: "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro W3", "メイリオ", sans-serif;
	color: #333333;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

a{
	text-decoration: none;
	color: #333333;
	&:hover{
		opacity: 0.8;
	}
}

ul.image_choice{
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
	padding-bottom: 0.2em;
	li{
		&:not(:last-child){
			margin-right: 0.2em;
		}
		label{
			display: block;
			padding: 5px;
			width: 180px;
			height: 120px;
			.eyecatch-image{
				width: 100%;
				height: 100%;
				border-radius: 5px;
				background-size: contain;
				background-position: center;
				background-repeat: no-repeat;
			}
		}
		input[type=radio]{
			display: none;
			&:checked + label{
				border: 2px solid #ff8b3c;
				border-radius: 10px;
			}
			&:not(:checked) + label{
				margin: 2px;
			}
		}
	}
}


pre.diff-line{
	font-family: monospace;
	padding-left: 0.1em;
	margin: 0 !important;
	&.added-line{
		background-color: #bbbbff;
	}
	&.deleted-line{
		background-color: #ffbbbb;
	}
}

form{
	p, > ul li{
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		margin: 0.5em 0;
	}
	.helptext{
		width: calc(100% - 80px);
		margin-left: 50px;
		margin-right: 30px;
		@include media(small){
			width: calc(100% - 30px);
			margin-left: 10px;
			margin-right: 20px;
		}
	}
	ul.image_choice{
		width: calc(100% - 80px);
		margin-left: 50px;
		@include media(small){
			width: calc(100% - 30px);
			margin-left: 10px;
			margin-right: 20px;
		}
	}
	> label{
		max-width: calc(100% - 54px);
	}
	ul.errorlist{
		display: block;
		width: 100%;
		order: 99;
	}
	.text-input-wrap{
		width: 100%;
		div{
			margin-right: 0;
		}
		// EasyMDE Edit
		.editor-toolbar{
			border-radius: 0;
			border-left: none;
			border-right: none;
			opacity: 1;
		}
		.CodeMirror{
			border-radius: 0;
			border-left: none;
			border-right: none;
		}
		.editor-preview-side{
			border-radius: 0;
			border-right: none;
		}
		.cm-s-easymde{
			.cm-header-1, .cm-header-2, .cm-header-3, .cm-header-4{
				font-size: 100%;
				line-height: 100%;
			}
			.cm-header, .cm-strong{
				font-weight: normal;
			}
			.cm-strong{
				background-color: yellow;
			}
			.cm-strikethrough{
				text-decoration: none;
			}
			.cm-em{
				font-style: normal;
			}
		}
		// End EasyMDE Edit
	}
}

input[type=submit], input[type=button]{
	display: block;
	font-family: inherit;
	margin-top: 5px;
	font-size: 1.05em;
	padding: 6px 12px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-appearance: none;
	border: 2px solid #ff8b3c;
	background-color: white;
	border-radius: 5px;
}
input, select, textarea{
	font-family: inherit;
	margin-top: 5px;
	font-size: 1.1em;
	padding: 0.2em 0.5em;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-appearance: none;
	background-color: white;
	&[type=checkbox]{
		order: -1;
		width: 2em;//50px;
		height: 2em;//50px;
		padding: 0.16em;//4px;
		margin: 0;
		margin-right: 0.1em;
		&::before{
			content: "";
			display: block;
			margin-top: 0;
			margin-bottom: 0.2em;//5px;
			margin-right: 0.28em;//7px;
			padding: 0;
			width: 1.44em;//36px;
			height: 1.44em;//36px;
			border: 1px solid #bbb;
			transition: all .12s, border-color .08s, border-width .08s;
		}
		&:checked::before{
			width: 0.6em;//15px;
			margin: 0.4em;//10px;
			margin-top: -0.2em;//-5px;
			margin-right: 0.6em;//15px;
			padding-left: 0.04em;//1px;
			border-radius: 0;
			opacity: 1;
			border-top-color: transparent;
			border-left-color: transparent;
			border-bottom: 1.8px solid #333333;
			border-right: 1.8px solid #333333;
			-webkit-transform: rotate(45deg);
			transform: rotate(45deg);
		}
	}
	&:not([type=checkbox]){
		border: 1px solid #bbb;
		border-radius: 5px;
		width: calc(100% - 80px);
		margin-left: 50px;
		margin-right: 30px;
		@include media(small){
			width: calc(100% - 30px);
			margin-left: 10px;
			margin-right: 20px;
		}
	}
	&[type=submit]{
		border: 2px solid #ff8b3c;
	}
}
select{
	padding-right: 38px;
	background: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 30"><defs><style>.cls-1{fill:none;stroke:#ff8b3c;stroke-miterlimit:10;}</style></defs><polygon class="cls-1" points="8 8 24 8 16 22 8 8"/></svg>') no-repeat right;
}

$main-width: 1200px;


header{
	text-align: center;
	background-color: #ff8b3c;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100vw;
	h1{
		margin: 0;
		margin-left: 20px;
		flex-basis: 250px;
		flex-shrink: 0;
		flex-grow: 0;
		a{
			display: block;
			img{
				display: block;
				height: 30px;
				max-width: 90vw;
				margin: 10px 0;
			}
		}
	}

	nav{
		ul{
			display: flex;
			list-style: none;
			justify-content: stretch;
			box-sizing: border-box;
			li{
				width: 100%;
			}
		}
	}

	#header-right-wrap{
		display: flex;
		justify-content: flex-end;
		align-items: center;
		margin-right: 0;
		flex-basis: 600px;
		flex-shrink: 1;
		flex-grow: 1;
		white-space: nowrap;
		nav{
			width: 100%;
			ul{
				margin-left: auto;
				margin-right: 0;
				width: 100%;
				max-width: 1200px;
			}
		}
	}
	a{
		color: #ffffff;
	}


}


main{
	width: 100%;
	height: 100%;
	flex-basis: 100%;
	flex-shrink: 1;
	flex-grow: 0;

	> section, article{
		width: $main-width;
		margin: auto;
		padding: 0 20px;
	}

	section#article-list{

	}

	section#article-post{
		width: 100%;
		height: 100%;
		margin: 0;
		padding: 0;
		form{
			display: flex;
			flex-direction: column;
			height: 100%;
			justify-content: space-between;
			max-height: 100%;
			input:not([type=checkbox]), textarea, select{
				width: 100%;
				margin: 0;
			}
			#input-sns_publish_text{
				textarea{
					height: 5em;
				}
			}
			#form-main-wrap{
				display: flex;
				flex-direction: column;
				height: 100%;
				p{
					margin: 0;
					&#input-title{
						height: fit-content;
						flex-grow: 0;
						input{
							border-radius: 0;
							border: none;
							padding-top: 0.5em;
						}
					}
					&#input-text{
						height: 100%;
						.text-input-wrap{
							height: 100%;
							.EasyMDEContainer{
								height: 100%;
								max-height: calc(100vh - 300px);
								display: grid;
								grid-template-rows: 50px 1fr 37px;
								grid-template-columns: 1fr 1fr;
								grid-template-areas:
									"header header"
									"code preview"
									"footer footer";
							}
							.editor-toolbar{
								grid-area: header;
								width: 100%;
								box-sizing: border-box;
							}
							.CodeMirror.sided--no-fullscreen{
								grid-area: code;
								width: 100% !important;
								max-height: none;
							}
							.editor-preview-side.sided--no-fullscreen{
								grid-area: preview;
								width: 100% !important;
							}
							.editor-statusbar{
								grid-area: footer;
								width: 100%;
								box-sizing: border-box;
							}
						}
					}
				}
			}
			#form-meta-wrap{
				display: grid;
				grid-template-rows: auto auto;
				grid-template-columns: 6fr 4fr 13em;
				grid-template-areas:
					"eyecatch sns_publish other_meta"
					"eyecatch submit submit";
				font-size: 0.8em;
				justify-content: space-between;
				border-top: 2px solid #ff8b3c;
				padding: 0.5em;
				#form-eyecatch-wrap{
					grid-area: eyecatch;
					flex-basis: 60%;
					margin-right: 5px;
					#id_eyecatch{
						height: 170px;
						overflow: scroll;
					}
				}
				#form-sns_publish-wrap{
					grid-area: sns_publish;
					flex-basis: 40%;
					margin-right: 5px;
				}
				#form-other_meta-wrap{
					grid-area: other_meta;
					width: 13em;
					flex-shrink: 0;
				}
				#form-submit-wrap{
					grid-area: submit;
					display: flex;
					justify-content: flex-end;
					p:not(:last-child){
						margin-right: 0.5em;
					}
					.draft{
						flex-basis: 20%;
					}
					.submit{
						flex-basis: 80%;
					}
				}
			}
		}

		#modal{
			display: none;
			position: fixed;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			#overlay{
				display: none;
				position: fixed;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				&.show{
					display: block;
					z-index: 998;
					background-color: rgba(#000, 0.6);
				}
			}

			&.show{
				display: flex;
				justify-content: center;
				align-items: center;
				z-index: 997;
			}
			#image-upload-wrap{
				display: none;
				background-color: white;
				border-radius: 10px;
				border: solid 2px #ff8b3c;
				padding: 20px;
				&.show{
					display: block;
					z-index: 999;
				}
			}
		}
		.editor-preview{
			.toc{
				border: solid 0.5px #bbbbbb;
				padding: 5px;
				color: #bbbbbb;
				background-color: white;
				border-radius: 5px;
				font-size: 0.8em;
				&::before{
					content: "目次";
					display: block;
				}
				ul{
					padding-left: 1.5em;
				}
			}
		}
	}
	section#article-check{
		width: 100%;
		height: 100%;
		margin: 0;
		padding: 0;
		display: grid;
		grid-template-rows: 1fr auto;
		grid-template-columns: 2fr 1fr 1fr;
		grid-template-areas:
			"markdown diff diff"
			"message message submit";
		#markdown-wrap{
			grid-area: markdown;
			height: 0;
			padding-left: 20px;
			padding-right: 10px;
			box-sizing: border-box;
			overflow: scroll;
		}
		#diff-wrap{
			grid-area: diff;
			padding-left: 10px;
			padding-right: 20px;
			border-left: solid 1px #dddddd;
			box-sizing: border-box;
			overflow: scroll;
		}
		#message-wrap{
			border-top: solid 2px #ff8b3c;
			grid-area: message;
			textarea{
				margin: 20px;
				width: 100%;
				box-sizing: border-box;
				height: 10em;
			}
		}
		#submit-wrap{
			border-top: solid 2px #ff8b3c;
			grid-area: submit;
		}
	}
}
