{% extends "times/base.html" %}

{% load static %}
{% load mytags %}

{% block title %}記事一覧 - {{ block.super }}{% endblock title %}

{% block description %}INIAD Times 記事一覧{% endblock %}
{% block og_description %}INIAD Times 記事一覧{% endblock %}

{% block main %}
	<section id="list-page">
		<h2>記事一覧</h2>
		{% for article in articles %}
			{% include "times/includes/article-list.html" with article=article link_page="article" %}
		{% empty %}
			<p>記事が見つかりませんでした</p>
		{% endfor %}

		{% include "times/includes/pagination.html" %}
	</section>
{% endblock main %}