{% load mytags %}
<article class="article-list">
	<a href="{% article_url link_page article link_keys %}">
		<p class="eyecatch" style="background-image: url('{{ article.eyecatch.url }}')"></p>
		<div class="meta-wrap">
			<ul class="meta">
				<li class="category">{{ article.category }}</li>
				{% if not article.is_public %}<li class="only-member">学内限定</li>{% endif %}
				<div>
					{% for writer in article.article_writers.all %}
						<li class="list-writer">{{ writer.name }}</li>
					{% endfor %}
				</div>
			</ul>
			<h3>{{ article.title }}</h3>
			<ul class="meta">
				<li class="time">{{ article.time }}</li>
				{% if article.is_new %}<li class="new">New!</li>{% endif %}
				{% if revise_list %}<li>校閲回数: {{ article.revise_count }}</li>{% endif %}
			</ul>
		</div>
	</a>
</article>